html {
  font-size: 16px;
}

.header {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  height: 4rem;
  background-color: white;
}

.header .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: white;
}

.header .logo {
  height: 3.5rem;
}
