html {
  font-size: 16px;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* Header section */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  margin-top: -4rem;
  width: 100%;
  background: linear-gradient(135deg, rgb(255, 255, 255) 23%, rgb(193, 134, 56) 23%);
  position: fixed;
  z-index: 5;
  -webkit-box-shadow: 10px 0px 5px black;
          box-shadow: 10px 0px 5px black;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  height: 3.5rem;
}

.header .mobile-icon {
  display: none;
}

.header p {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(176, 175, 167, 0.8);
}

.header a {
  font-family: Raleway, sans-serif;
  font-size: 1.2rem;
  padding: 0 .7rem;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.header a:hover {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: rgb(255, 255, 255);
}

.header .school-name {
  color: rgba(49, 57, 51, 0.8);
  font-weight: bold;
}

 /* Section 1 of 4 */
 .section1 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background-color: rgba(0, 0, 0, 0.9);
   border-bottom: 5px solid rgba(193, 134, 56, 0.9);
   position: relative;
   margin-top: 4rem;
 }
 .section1 img {
   max-width: 100%;
   width: 60%;
   height: auto;
   padding: 2rem 1.5rem;
 }

 .section1 .motto {
   font-size: 3.5rem;
   font-family: Raleway, sans-serif;
   font-weight: bold;
   color: rgba(193, 134, 56, 0.9);
   margin: 2rem auto;
 }

 .section1 p {
   font-family: Raleway, sans-serif;
   font-size: 2rem;
   font-weight: bold;
   margin: 2rem auto;
   color: rgb(255, 255, 255);
 }

 .section1 a {
   text-align: center;
   color: rgba(193, 134, 56, 0.9);
   padding: .5rem 3rem;
   background-color: white;
   -webkit-transition: background-color .5s ease, color .5s;
   transition: background-color .5s ease, color .5s;
 }

.section1 a:hover {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: rgb(255, 255, 255);
  background-color: rgba(193, 134, 56, 0.9);
}
 /* Section 2 of 4 */
 .section2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
 }

 .container-left {
  width: 60%;
  height: auto;
  padding: 3rem 1.5rem;
 }

 .container-left img {
   width: 100%;
 }

 .container-left .motto {
   font-size: 2.5rem;
   font-family: Raleway, sans-serif;
   font-weight: bold;
   color: rgba(193, 134, 56, 0.9);
   padding-top: 2rem;
 }

 .container-left p {
   font-size: 1.5rem;
   font-family: Raleway, sans-serif;
   color: rgba(0, 0, 0, 0.9);
   padding-top: 1.5rem;
 }

 .container-left .cite {
   font-size: 1.2rem;
   font-family: Raleway, sans-serif;
   color: rgba(0, 0, 0, 0.8);
 }

 .container-right {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   width: 40%;
   padding: 3rem 1.5rem;
 }

 .container-right .mobile-img {
   display: none;
 }

 .container-right img {
   width: 35%;
   height: auto;
 }

 .list-box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   padding: 1rem 1rem;
   border-bottom: 5px solid rgba(0, 0, 0, 0.3);
   background-color: rgba(193, 134, 56, 0.9);
   -webkit-animation-name: shimmer;
           animation-name: shimmer;
 }

 @-webkit-keyframes shimmer {
  0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
 }

 @keyframes shimmer {
  0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
 }

 .list-box:hover {
  background: linear-gradient(-45deg,  rgba(193, 134, 56, 0.9), rgba(0, 0, 0, 0.6));
 	background-size: 400% 400%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
 }

 .list-box .title {
   font-size: 1.8rem;
   font-family: Raleway, sans-serif;
   font-weight: bold;
   color: rgba(0, 0, 0, 0.9);
   margin: 0.5rem 1.5rem;
 }

 .list-box p {
   font-size: 1.2rem;
   font-family: Raleway, sans-serif;
   color: rgb(255, 255, 255);
   padding: 0.3rem 0;
   margin: 0.5rem 1.5rem;
 }

 .section2 .list-box a {
   font-size: 0.9rem;
   font-family: Raleway, sans-serif;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   -webkit-transition: color .5s;
   transition: color .5s;
 }

.section2 .list-box a:hover {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: rgb(255, 255, 255);
}

 /* Section 3 of 4 */
 .section3 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background-color: rgba(0, 0, 0, 0.9);
   border-bottom: 5px solid rgba(193, 134, 56, 0.9);
 }

 .section3 .motto {
   font-size: 3.5rem;
   font-family: Raleway, sans-serif;
   font-weight: bold;
   color: rgb(255, 255, 255);
   padding: 2rem 0;
 }

 .section3 .info {
   background-color: rgb(255, 255, 255);
   padding: 1rem 1rem 1.5rem 1rem;
   text-align: center;
 }

.section3 .title {
  font-size: 1.5rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: rgba(193, 134, 56, 0.9);
}

.section3 .programs {
  width: 30%;
  height: auto;
  -webkit-animation-name: bounce;
          animation-name: bounce;
}

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
  25% {-webkit-transform: translateY(-2px);transform: translateY(-2px);}
  50% {-webkit-transform: translateY(-6px);transform: translateY(-6px);}
}

@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
  25% {-webkit-transform: translateY(-2px);transform: translateY(-2px);}
  50% {-webkit-transform: translateY(-6px);transform: translateY(-6px);}
}
.section3 .programs:hover {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.section3 .programs.middle {
  padding: 0 2rem;
}

.section3 img {
  width: 100%;
  height: auto;
}

.section3 p {
  font-size: 1.2rem;
  font-family: Raleway, sans-serif;
  padding: 0.25rem 0;
  height: 2rem;
}

.section3 a {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: color .3s, font-size .3s, font-weight .6s;
  transition: color .3s, font-size .3s, font-weight .6s;
}

.section3 a:hover {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem;
}

.section3 .classes {
  font-size: 1rem;
  font-family: Raleway, sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

 .container .top-row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   padding: 2rem 4rem;
 }

 .container .bot-row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   padding: 0 4rem 2rem 4rem;
 }

/* Section 4 of 4 */
.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section4 .motto {
  font-size: 3.5rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: rgba(193, 134, 56, 0.9);
  padding: 2rem 2rem;
}

.section4 .video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: auto;
  padding: 0 1.5rem 2rem 1.5rem;
}

.section4 .video-info .title {
  font-size: 1.7rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: rgba(193, 134, 56, 0.9);
}

.section4 .video-info p {
  font-size: 1.2rem;
  font-family: Raleway, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  padding: 1rem 0;
}

.section4 video {
  max-width: 100%;
}

.section4 .list-box {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

.section4 .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 0.8rem 1.5rem;
}

.list-container img {
  width: 35%;
  height: auto;
}
/* Footer Section */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
}

.footer p {
  font-family: Raleway, sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.footer a {
  font-family: Raleway, sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 0.5rem;
}

/* Media-Section */



@media only screen and (max-width: 580px) and (min-width: 320px) {
  .header .logo,
  .header span,
  .header p,
  .container-left,
  .container-right img,
  .section3 img,
  .section3 a,
  .section3 .classes,
  .section4 .list-container,
  .section4 p,
  .footer span {display: none;}
/* Universal Style */
  html {font-size: 12px;}

/* Header Section */
  .header .container.mobile {
    width: 100%;
  }
  .header .mobile-icon {
    display: inline;
    padding: 0 3rem;
  }

/* Media Section 1 of 4 */
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }

  .section1 img {
    width: 100%;
    height: auto;
  }

/* Media Section 2 of 4 */
  .container-right {
    width: 100%;
    padding: 0 0;
  }

  .container-right .mobile-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .list-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }

  .list-box p {
    font-size: 1.8rem;
  }

  /* Media Section 3 of 4 */
  .section3 {
    border: none;
  }
  .section3 .motto {
    padding: 3rem 0 4.5rem 0;
  }
  .section3 .top-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0;
  }

  .section3 .bot-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0;
  }
  .top-row .programs,
  .bot-row .programs {
    width: 100%;
    margin-bottom: 1rem;
  }

  .programs .title {
    font-size: 1.8rem;
  }

  /* Media Section 4 of 4  */
  .section4 .video-info {
    width: 100%;
    padding: 0 0;
  }

  }

@media only screen and (max-width: 768px) and (min-width: 581px) {
  html {font-size: 14px}

  .header p {
    font-size: 1rem;
  }

  .header a {
    font-size: .8rem;
  }
}
